In [1]:
import os
import requests
import json
import pandas as pd
import matplotlib.pyplot as plt
from pprint import pprint

In [2]:
from config import gkey

ModuleNotFoundError: No module named 'config'

In [3]:
jharlow_yt=music_videos_df.loc[music_videos_df.index==10]

NameError: name 'music_videos_df' is not defined

In [9]:
jharlow_yt[['Name','Song']] = jharlow_yt['Name'].str.split('-',expand=True)
jharlow_yt

/Users/allred/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:2963: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Name,View count,Like count,Dislike count,Comment count,Release Date,Song
10,Jack Harlow,29188884,731493,14348,35991,2020-07-17T22:30:01Z,"WHATS POPPIN feat. Dababy, Tory Lanez, & Lil ..."

In [10]:
jharlow_yt.rename(columns={'Name': 'artists'}, inplace = True)
jharlow_yt
# jharlow_yt.to_csv("jharlow_yt.csv")

/Users/allred/anaconda3/envs/PythonData/lib/python3.8/site-packages/pandas/core/frame.py:4125: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,artists,View count,Like count,Dislike count,Comment count,Release Date,Song
10,Jack Harlow,29188884,731493,14348,35991,2020-07-17T22:30:01Z,"WHATS POPPIN feat. Dababy, Tory Lanez, & Lil ..."

In [11]:
spot_df = pd.read_csv("data_by_artist.csv")
jharlow_spot = spot_df.loc[spot_df['artists']=='Jack Harlow']
jharlow_spot
# jharlow_spot.to_csv("jharlow_spot.csv")

,artists,acousticness,danceability,duration_ms,energy,instrumentalness,liveness,loudness,speechiness,tempo,valence,popularity,key,mode,count
10701,Jack Harlow,0.058267,0.853067,147537.866667,0.5948,0.000623,0.131327,-6.530067,0.164187,143.709867,0.592133,71.266667,1,1,15

In [12]:
# jharlow_yt['artists']=jharlow_yt['artists'].astype(str)
# # jharlow_spot['artists'] = jharlow_spot['artists'].astype(str)
# # jharlow_spot.dtypes
# # jharlow_yt['artists'] = jharlow_yt['artists'].str.encode('utf-8')
# jharlow_yt.dtypes

In [28]:
merged_df = pd.merge(jharlow_spot, jharlow_yt, on="artists", how = 'outer')
merged_df = merged_df[['artists', 'danceability','tempo','popularity', 'View count', 'Like count']]
merged_df

artists          object
danceability    float64
tempo           float64
popularity      float64
View count      float64
Like count      float64
dtype: object

In [36]:
merged_df["View count"] = merged_df["View count"].fillna("29,188,884")
merged_df["Like count"] = merged_df["Like count"].fillna("731,493")
merged_df

        artists  danceability       tempo  popularity   View count Like count
0   Jack Harlow      0.853067  143.709867   71.266667   29,188,884    731,493
1  Jack Harlow            NaN         NaN         NaN  2.91889e+07     731493